<%= stylesheet_link_tag 'form' %>
<% provide(:title, "login")%>


<div class="form-container">
    <div class="new_form">
        <%= form_with scope: :sessions, url: "/login" do |f| %>

            <p class="input_field">
                <span class="label"> <%= f.label :email %> </span>
                <span class="email"> <%= f.text_field :email %> </span>
            </p>

            <p class="input_field">
                <span class="label"> <%= f.label :password %> </span>
                <span class="password"> <%= f.password_field :password %> </span>
            </p>

            <p>
                <div class="submit_btn"> <%= f.submit "login", class: "btn btn-primary"%> </div>
            </p>
        <% end %>
    </div>
</div>