<% provide(:title, "login")%>


<div class="form-container">
    <div class="new_todo_form">
        <%= form_with scope: :sessions, url: "/login" do |f| %>

            <p class="title_input">
                <span class="title_label"> <%= f.label :email %> </span>
                <span class="title_box"> <%= f.text_field :email %> </span>
            </p>

            <p class="title_input">
                <span class="title_label"> <%= f.label :password %> </span>
                <span class="title_box"> <%= f.password_field :password %> </span>
            </p>

            <p>
                <div class="submit_btn"> <%= f.submit "login", class: "btn btn-primary"%> </div>
            </p>
        <% end %>
    </div>
</div>