<%= stylesheet_link_tag 'form' %>
<% provide(:title, "Edit your details")%>

<div class="form-container">
    <div class="new_form">
        <h1 class="form_heading"> Edit your details </h1>
        <%= form_with model: @existing_user, url: "/users/#{@existing_user[:id]}/edit", method: :patch, local: true do |f| %>
            <p class="input_field">
                <span class="label"> <%= f.label :username %> </span>
                <span class="title"> <%= f.text_field :username %> </span>
            </p>

            <p class="input_field">
                <span class="label"> <%= f.label :email %> </span>
                <span class="title"> <%= f.text_field :email %> </span>
            </p>
            <p class="input_field">
                <span class="label"> <%= f.label :password %> </span>
                <span class="title"> <%= f.password_field :password %> </span>
                <span> <input type="checkbox" onclick="togglePassword()">Show Password </span>
            </p>

            <p>
                <div class="submit_btn"> <%= f.submit "Edit", class: "btn btn-primary"%> </div>
            </p>
        <% end %>
    </div>
</div>