<%= stylesheet_link_tag 'form' %>
<% provide(:title, "Sign up")%>

<div class="form-container">
    <div class="new_form">
        <h1 class="form_heading"> Enter you details </h1>
        <%= form_with model: @new_user, url: "/signup", method: :post, local: true do |f| %>
            <p class="input_field">
                <span class="label"> <%= f.label :username %> </span>
                <span class="username"> <%= f.text_field :username %> </span>
            </p>

            <p class="input_field">
                <span class="label"> <%= f.label :email %> </span>
                <span class="email"> <%= f.text_field :email %> </span>
            </p>

            <p class="input_field">
                <span class="label"> <%= f.label :password %> </span>
                <span class="password"> <%= f.password_field :password %> </span>
            </p>

            <p>
                <span class="label"> <%= f.label :is_admin, "Are you admin?"%> </span>
                <span class="checkbox"> <%= f.check_box :is_admin %> </span>
            </p>

            <p>
                <div class="submit_btn"> <%= f.submit "Signup", class: "btn btn-primary"%> </div>
            </p>
        <% end %>
    </div>
</div>