<% provide(:title, "#{@user[:username]} profile")%>
<% if logged_in? %>
  <div class="user-details">
      <h1 class="text-center mt-4"> Your details </h1>
      <p class="text-center"><b> Username: </b><%= @user[:username] %> </p>
      <p class="text-center"><b> Email: </b><%= @user[:email] %> </p>
      <% if @logged_in_user_id == @user[:id] %>
          <div class="text-center"> 
              <%= link_to "Edit your profile", "/users/#{@user[:id]}/edit", class: "btn btn-outline-info",type: "button"%>   
          </div>
      <% end %>

  </div>


  <% if @current_user_todo_pending.first != nil %>
    <table class="table todos_table">
      <h1 class="table-heading"> Pending: <%= @current_user_todo_pending.length %></h1>
      <thead>
        <tr>
          <th scope="col">Serial</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col" class="pending-action"> Action </th>
        </tr>
      </thead>
      <tbody>
        
        <% @current_user_todo_pending.each do |todo|%>
            <tr>
                <th scope="row"><%= todo.id %></th>
                <td><%= todo.title %></td>
                <td class="todo_desc"><%= todo.description %></td>
                <td class="action-item">
                  <%= link_to "Show", "/todos/#{todo[:id]}", class: "show-btn" %> |
                  <%= link_to "Delete", "/todos/#{todo[:id]}", method: :delete, class: "delete-btn" %> |
                  <%= link_to "Mark Completed", "/todos/#{todo[:id]}/mark", class: "show-btn", method: :patch %>   
                </td>
            </tr>
        <% end %>
        
      </tbody>
    </table>
  <% end %>

  <% if @current_user_todo_completed.first != nil %>
    <table class="table todos_table">
      <h1 class="table-heading"> Completed: <%= @current_user_todo_completed.length %> </h1>
      <thead>
        <tr>
          <th scope="col">Serial</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col" class="completed-action"> Action </th>
        </tr>
      </thead>
      <tbody>
        
        <% @current_user_todo_completed.each do |todo|%>
            <tr>
                <th scope="row"><%= todo.id %></th>
                <td><%= todo.title %></td>
                <td class="todo_desc"><%= todo.description %></td>
                <td class="action-item">
                    <%= link_to "Show", "/todos/#{todo[:id]}", class: "show-btn" %> |
                    <%= link_to "Delete", "/todos/#{todo[:id]}", method: :delete, class: "delete-btn" %> |
                    <%= link_to "Mark Incompleted", "/todos/#{todo[:id]}/mark", class: "show-btn", method: :patch %> 
                    
                </td>
                
            </tr>
        <% end %>
        
      </tbody>
    </table>
  <% end %>
<% else %>
  <div class="alert alert-danger" role="alert">
    You are not logged in.
  </div>
<% end %>