<%= stylesheet_link_tag 'form' %>
<% provide(:title, "Update")%>
<%
    Rails.logger.info "Inside edit_todo.html.erb"
    errors = @existing_todo.errors.full_messages
%>

<ul class="error_messages">
    <% errors.each do |error| %>
        <li><%= error %></li>
    <% end %>
<ul>
<div class="form-container">
    <div class="new_form">
        <h1 class="form_heading"> Update todo </h1>
        <%= form_with model: @existing_todo, url: "/todos/#{@existing_todo[:id]}/edit", method: :patch, local: true do |f| %>
            <p class="input_field">
                <span class="label"> <%= f.label :title %> </span>
                <span class="title"> <%= f.text_field :title %> </span>
            </p>

            <p class="input_field input_desc">
                <span class="label"> <%= f.label :description %> </span>
                <span class="desc_box"> <%= f.text_area :description %> </span>
            </p>

            <p>
                <div class="submit_btn"> <%= f.submit "Update todo", class: "btn btn-primary"%> </div>
            </p>
        <% end %>
    </div>
</div>
