<% provide(:title, "Update")%>



<div class="form-container">
    <div class="new_todo_form">
        <h1 class="todo_heading"> Update todo </h1>
        <%= form_with model: @existing_todo, url: "todos/#{@existing_todo[:id]}", method: :post, local: true do |f| %>
            <p class="title_input">
                <span class="title_label"> <%= f.label :title %> </span>
                <span class="title_box"> <%= f.text_field :title %> </span>
            </p>

            <p class="desc_input">
                <span class="desc_label"> <%= f.label :description %> </span>
                <span class="desc_box"> <%= f.text_area :description %> </span>
            </p>

            <p>
                <div class="submit_btn"> <%= f.submit "Update todo", class: "btn btn-primary"%> </div>
            </p>
        <% end %>
    </div>
</div>
