<% provide(:title, "Home")%>

<table class="table todos_table">
  <thead>
    <tr>
      <th scope="col">Serial</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col" class="action"> Action </th>
    </tr>
  </thead>
  <tbody>
    
    <% @todos.each do |todo|%>
        <tr>
            <th scope="row"><%= todo.id %></th>
            <td><%= todo.title %></td>
            <td class="todo_desc"><%= todo.description %></td>
            <td class="action-item">
                <%= link_to "Delete", "/todos/#{todo[:id]}", method: :delete, class: "delete-btn" %> |
                <%= link_to "Update", "/todos/#{todo[:id]}/edit", class: "update-btn" %> |
                <%= link_to "Show", "/todos/#{todo[:id]}", class: "show-btn" %> 
            </td>
        </tr>
    <% end %>
    
  </tbody>
</table>