<%= stylesheet_link_tag 'form' %>
<% provide(:title, "Create new todo")%>
<% if logged_in? %>
    <%
        errors = @new_todo.errors.full_messages
    %>

    <ul class="error_messages">
        <% errors.each do |error| %>
            <li><%= error %></li>
        <% end %>
    <ul>


    <div class="form-container">
        <div class="new_form">
            <h1 class="form_heading"> Add a todo </h1>
            <%= form_with model: @new_todo, url: "/todos/new", method: :post, local: true do |f| %>
                <p class="input_field">
                    <span class="label"> <%= f.label :title %> </span>
                    <span class="title"> <%= f.text_field :title %> </span>
                </p>

                <p class="input_field input_desc">
                    <span class="label label_desc"> <%= f.label :description %> </span>
                    <span class="desc_box"> <%= f.text_area :description %> </span>
                </p>

                <p>
                    <div class="submit_btn"> <%= f.submit "Create todo", class: "btn btn-primary"%> </div>
                </p>
            <% end %>
        </div>
    </div>
<% else %>
    <div class="alert alert-danger" role="alert">
        You are not logged in
    </div>
<% end %>
