<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield(:title) %> | Todos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar"%>
    <% flash.each do |key,value|%>
      <p class='flash_message'> <%= value %> </p>
    <% end %>
    <%= yield %>
    <br><br>
    <% if false %>
      <%= debug(params) if Rails.env.development? %>
    <% end %>
    
  </body>
</html>
